<div
  #credits
  id="credits"
  class="credits flex relative flex-col items-center text-3xl h-screen"
  style="font-family: 'Raleway'"
>
  <div
    class="flex flex-col w-4/5 text-2xl"
    *ngIf="sectionIsOnScreen"
    @creditsFade
  >
    <p class="text-center mob:text-sm">
      A few people whose work inspired elements of this page. I definitely did
      not just straight up copy their ideas. Totally. (Okay, maybe a little.)
    </p>
    <div class="flex mob:flex-col justify-between wide:mt-16">
      <div class="w-1/2 mob:w-full flex flex-col items-end">
        <a
          class="wide:text-7xl mob:text-3xl mob:self-start transition-all pb-4 text-left"
          style="font-family: 'Lobster'"
          href="https://sureshmurali.github.io/"
          target="_blank"
        >
          <p class="with-underline wide:text-right">Suresh Murali</p>
        </a>
        <p class="mob:text-sm text-right">
          Showed me how classy the contrast between pure black and white can be,
          if done right (cool fonts go a long way).<br />
          If it weren't for him I probably would have gone my usual emo route by
          slapping a dark background on with some crazy neon text and calling it
          a day (not that there's anything wrong with that).
        </p>
      </div>
      <div class="h-full w-2 bg-fuchsia-900 m-4"></div>
      <div class="w-1/2 mob:w-full">
        <a
          class="wide:text-7xl mob:text-3xl self-start transition-all pb-4 text-left"
          style="font-family: 'Lobster'"
          href="https://brittanychiang.com/"
          target="_blank"
        >
          <p class="with-underline">Brittany Chiang</p>
        </a>
        <p class="mob:text-sm mob:text-right wide:text-left">
          The links bar on the wide-screen version of this page is a direct
          rip-off of hers.<br />
          It's frickin' awesome -- all the important information (ways to view
          my work and to contact me) is always on screen, yet never gets in the
          way. So simple and effective.
        </p>
      </div>
    </div>
  </div>
</div>
