@tailwind base;
@tailwind components;
@tailwind utilities;

.credits a {
  @apply inline-block transition-all hover:text-fuchsia-900 hover:-translate-y-3 duration-300 hover:cursor-none;
}

.credits p {
  @apply relative p-4;
}

.credits .changing-text {
  @apply duration-1000;
}

.credits .bottom-text {
  @apply mt-32;
}

.credits .asterisk-text {
  @apply -mt-2;
}

@keyframes underlineAnimation {
  0% {
    transform: scaleX(0);
  }
  25% {
    transform: scaleX(1);
  }
  75% {
    transform-origin: left;
    transform: scaleX(1);
  }
  100% {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.credits .with-underline:after {
  @apply absolute w-full h-1 bottom-0 left-0 bg-fuchsia-900 origin-right;
  content: "";
  transform: scaleX(0);
  animation-name: underlineAnimation;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
