@tailwind base;
@tailwind components;
@tailwind utilities;

.about-me p {
  @apply text-center relative pb-4 mb-4;
}

.about-me .middle-text {
  @apply mt-20;
}

.about-me .bottom-text {
  @apply mt-20;
}

@keyframes underlineAnimation {
  0% {
    transform: scaleX(0);
  }
  25% {
    transform: scaleX(1);
  }
  75% {
    transform-origin: left;
    transform: scaleX(1);
  }
  100% {
    transform-origin: left;
    transform: scaleX(0);
  }
}

.about-me p:after {
  @apply absolute w-full h-1 bottom-0 left-0 bg-fuchsia-900 origin-right transition-all duration-200 ease-in-out rounded-full;
  content: "";
  transform: scaleX(0);
  animation-name: underlineAnimation;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  --baseAnimDelay: 0.9s;
}

.about-me p:hover:after {
  transform: scaleX(1);
}

.about-me p:nth-child(1):after {
  animation-delay: 0.2s
}

.about-me p:nth-child(2):after {
  animation-delay: calc(var(--baseAnimDelay) * 1.5);
}

.about-me p:nth-child(3):after,
.about-me p:nth-child(4):after {
  animation-delay: calc(var(--baseAnimDelay) * 3);
}
