@tailwind base;
@tailwind components;
@tailwind utilities;

.about-me p {
  @apply text-center relative p-4 transition-all hover:text-fuchsia-900 hover:-translate-y-3 duration-300 hover:cursor-none;
}

.about-me .middle-text {
  @apply mt-10;
}

.about-me .middle-text span {
  transition-duration: 1s;
}

.about-me .bottom-text {
  @apply mt-20;
}

@keyframes underlineAnimation {
  0% {
    transform: scaleX(0);
  }
  25% {
    transform: scaleX(1);
  }
  75% {
    transform-origin: left;
    transform: scaleX(1);
  }
  100% {
    transform-origin: left;
    transform: scaleX(0);
  }
}

.about-me p:after {
  @apply absolute w-full h-2 bottom-0 left-0 bg-fuchsia-900 origin-right;
  content: "";
  transform: scaleX(0);
  animation-name: underlineAnimation;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  --baseAnimDelay: 0.9s;
}

.about-me p:nth-child(1):after {
  animation-delay: 0.2s;
}

.about-me p:nth-child(2):after {
  animation-delay: calc(var(--baseAnimDelay) * 1.5);
}

.about-me p:nth-child(3):after,
.about-me p:nth-child(4):after {
  animation-delay: calc(var(--baseAnimDelay) * 3);
}
