<div
  #aboutMe
  id="about-me"
  class="about-me flex relative flex-col items-center text-3xl h-screen"
  style="font-family: 'Raleway'"
>
  <div
    class="flex flex-col items-center mt-16 w-4/5"
    *ngIf="sectionIsOnScreen"
    @aboutMeFade
  >
    <p class="mb-4 font-bold">Hey there, pardner :D</p>
    <p class="text-7xl middle-text italic transition-all">
      Name's Nithin. I'm
      <span
        class="inline-block w-[400px] text-5xl transition-all"
        style="font-family: 'Lobster'; font-style: normal"
        #whoIAmText
      >
        {{ whoIAm[whoIAmIndex] }}</span
      >!
    </p>
    <p class="bottom-text">Down here's some cool** stuff I made</p>
    <p class="text-xl">**Debatable, but please humor me for the moment</p>
  </div>
</div>
