<div
  #navbar
  class="widescreen-styles h-30 flex flex-row justify-between items-center p-4 w-full sticky top-0 z-50"
  @navbarFade
>
  <a
    class="moniker relative block text-5xl font-bold hover:text-white transition-all duration-300"
    style="font-family: 'Lobster', cursive"
    href="#"
  >
    nithinrdy
  </a>

  <ul class="flex flex-row" style="font-family: 'Raleway'">
    <a href="#about-me">
      <li>About me</li>
    </a>
    <a href="#projects" class="second-button">
      <li>Projects</li>
    </a>
    <a href="#credits">
      <li>Designs that... "inspired" me</li>
    </a>
  </ul>
</div>
