<div
  #navbar
  class="widescreen-styles h-30 flex flex-row justify-between items-center p-4 w-full sticky top-0"
  @navbarFade
>
  <a
    class="relative text-5xl font-bold hover:text-fuchsia-700 transition-colors duration-300"
    style="font-family: 'Lobster', cursive"
    href="https://github.com/nithinrdy"
    target="_blank"
  >
    nithinrdy
  </a>

  <ul class="flex flex-row" style="font-family: 'Raleway'">
    <a href="#about-me">
      <li>About me</li>
    </a>
    <a href="#projects" class="second-button">
      <li>Projects</li>
    </a>
    <a href="#skills">
      <li>Skills</li>
    </a>
  </ul>
</div>
