@tailwind base;
@tailwind components;
@tailwind utilities;

.widescreen-styles ul > a {
  @apply relative flex justify-center m-4 text-3xl py-2;
}

.widescreen-styles ul > a::after {
  @apply absolute w-full h-1 bottom-0 bg-fuchsia-700 origin-center transition-all duration-200 ease-in-out rounded-full;
  content: "";
  transform: scaleX(0);
}

.second-button::after {
  @apply top-0;
}

.widescreen-styles ul > a:hover::after {
  transform: scaleX(1);
}
