@tailwind base;
@tailwind components;
@tailwind utilities;

.widescreen-styles.nav-bar {
  @apply transition-transform duration-500 ease-out;
  backdrop-filter: blur(8px);
}

.hide-nav {
  @apply -translate-y-full;
}

.widescreen-styles.nav-bar .moniker {
  @apply p-4;
  letter-spacing: 0.1px;
}

.widescreen-styles.nav-bar .moniker:after {
  @apply absolute w-full h-full bottom-0 left-0 bg-fuchsia-900 origin-top transition-all duration-200 ease-out -z-10;
  content: "";
  transform: scaleY(0);
}

.widescreen-styles.nav-bar .moniker:hover:after {
  transform: scaleY(1);
}

.widescreen-styles.nav-bar ul > a {
  @apply relative flex justify-center m-4 text-3xl py-2 hover:cursor-none;
}

.widescreen-styles.nav-bar ul > a:after {
  @apply absolute w-full h-1 bottom-0 bg-fuchsia-900 origin-center transition-all duration-200 ease-in-out rounded-full;
  content: "";
  transform: scaleX(0);
}

.second-button::after {
  @apply top-0;
}

.widescreen-styles.nav-bar ul > a:hover::after {
  transform: scaleX(1);
}

.logo-with-mobile-menu-active {
  @apply text-white;
}

.hamburger {
  @apply absolute w-full h-1 bg-black transition-all duration-500;
}

.bar-1 {
  @apply top-0;
}

.bar-2 {
  top: 16.5px;
}

.bar-3 {
  @apply bottom-0;
}

.hamburger-container.mobile-nav-active .bar-1 {
  @apply bg-white;
  transform: rotate(45deg) translate(11px, 12px);
}

.hamburger-container.mobile-nav-active .bar-2 {
  opacity: 0;
}

.hamburger-container.mobile-nav-active .bar-3 {
  @apply bg-white;
  transform: rotate(-45deg) translate(11px, -12px);
}

.hide-nav-menu {
  @apply translate-y-full;
}

.mobile-nav-list a {
  @apply w-4/5 text-3xl text-center pb-2 mt-8 border-b-2 border-white;
}

@media (max-width: 956px) {
  .widescreen-styles.nav-bar .moniker:hover:after {
    transform: scaleY(0);
  }
}
