<div class="main-section-container flex flex-col items-center h-screen">
  <div
    class="wide:text-9xl mob:text-8xl mt-8 cursor-none"
    style="font-family: 'Lobster', cursive"
  >
    <div [@characterFade1]="6">
      <span>V</span><span>i</span><span>s</span><span>h</span><span>n</span
      ><span>u</span>
    </div>
    <div [@characterFade2]="6">
      <span>N</span><span>i</span><span>t</span><span>h</span><span>i</span
      ><span>n</span>
    </div>
    <div [@characterFade3]="5">
      <span>R</span><span>e</span><span>d</span><span>d</span><span>y</span>
    </div>
  </div>
</div>
