@tailwind base;
@tailwind components;
@tailwind utilities;

.project-card {
  @apply transition-all duration-300 hover:-translate-y-4 shadow-md hover:cursor-pointer hover:shadow-2xl;
}

.project-card .opaque-layer {
  @apply transition-all duration-300 backdrop-blur-lg;
}

.project-card .opaque-layer .minimized-text {
  @apply transition-all duration-300;
}

.project-card:hover .opaque-layer {
  @apply opacity-0;
}

.project-card:hover .blur-layer .minimized-text {
  @apply opacity-0;
}

.maximized-backdrop {
  @apply fixed h-full w-full top-0 left-0 z-50 backdrop-blur-3xl;
}

.project-card.opened-card {
  @apply w-3/4 h-3/4 mob:h-[90%] z-50 backdrop-blur-3xl hover:translate-y-0 hover:cursor-default shadow-lg bg-white p-4 mob:pt-20 wide:pt-20;
}

.project-card.opened-card img {
  @apply aspect-video shadow-lg mob:w-full mob:h-1/4;
}

.project-card.opened-card .cross-button .cross-bar-1 {
  @apply rotate-45 transition-transform duration-300;
}

.project-card.opened-card .cross-button .cross-bar-2 {
  @apply -rotate-45 transition-transform duration-300;
}

.project-card.opened-card .cross-button:hover .cross-bar-1 {
  @apply -rotate-45 scale-125;
}

.project-card.opened-card .cross-button:hover .cross-bar-2 {
  @apply rotate-45 scale-125;
}

.image-container {
  @apply p-4;
  border-right: 15px solid rgba(112, 26, 117, 1);
  border-bottom: 15px solid rgba(112, 26, 117, 1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.mobile-desc-text {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left: 2px solid rgba(112, 26, 117, 1);
  border-bottom: 2px solid rgba(112, 26, 117, 1);
}

@media (max-width: 956px) {
  .image-container {
    border-bottom-left-radius: 0px;
    border-top: 2px solid rgba(112, 26, 117, 1);
    border-right: 2px solid rgba(112, 26, 117, 1);
    border-bottom: 2px solid rgba(112, 26, 117, 1);
  }
}

@keyframes underlineAnimation {
  0% {
    transform: scaleX(0);
  }
  15% {
    transform: scaleX(1);
  }
  45% {
    transform-origin: right;
    transform: scaleX(1);
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

.widescreen-desc-text:after {
  @apply absolute w-full h-2 bottom-0 left-0 bg-fuchsia-900 origin-left rounded-full;
  content: "";
  transform: scaleX(0);
  animation-name: underlineAnimation;
  animation-duration: 1.7s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.2s;
}
